
<nav class="navbar navbar-expand-lg fixed-top text-uppercase ">
    <div class="container">
    <a class="navbar-brand font-weight-bold" href="#">MyPortfolio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class=" nav-link active px-lg-4 rounded" href="#">Acceuil </a>
        <a class=" nav-link px-lg-4 rounded" href="#">A propos</a>
        <a class=" nav-link px-lg-4 rounded" href="#">Projets</a>
        <a class=" nav-link px-lg-4 rounded" href="#">Contact</a>
      </div>
    </div>
</div>
  </nav>
